<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5><strong>Master Of Computer Application</strong> </h5>
                        <em class="font-italic">Master of degital services<br> Osmania University</em>
                        <p class="year p-2 d-flex justify-content-center">2007 - 2010</p>
                    </li>
                    <li>
                        <h5>Bachelor of Computer Sciences</h5>
                        <em class="font-italic">Bachelor of Computer Sciences<br> Andhra University</em>
                        <p class="year p-2 d-flex justify-content-center">2004 - 2007</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Expériences</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Founder and Sole Proprietor of PP Confectioners</h5>
                        <em>Visakhapatnam, India</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Jul2019 - Oct2021 </p>
                            <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="freelanceScotfyIsShown">

                            Entrepreneur with 9 years of Home Baker cum seller and 2yrs of Real-time commercial Bakery supplier experience building and growing a
                            business has given me a better understanding of the importance of finance in enterprise development. Experienced in different areas of
                            business: Accounting, Purchasing, Operations, Marketing, Sales, Human Resources, and I.T. Built the company from the start-up stages;
                            capitalized financial requirements through a combination of bootstrapping, limited partnerships, and borrowings. Set up accounting
                            system which covered accounts payable, cash sales, inventory control, purchasing cycle and financial reporting. Negotiated directly 
                            with suppliers and lessors.
                        </p>
                    </li>
                    <li>
                        <h5>Freelance Graphic Layout/Web Designer</h5>
                        <em>Bloomington, IL, USA</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Jan2015 - Dec2018 </p>
                            <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="freelanceIsShown">
                            I'm a self-taught Web developer and Layout Graphic designer switching careers from full-time IT Professional to Freelancer. Taught 
                            myself algorithms, responsive web design, and full-stack development. Did ‘The Complete Web Developer – zero to mastery’ certification
                            from Udemy. Earning this certificate has been a major focal point in my career transition and I have the foundational skills to begin
                            working as a full stack developer I definitely had some struggles along the way, but by embracing failure as part of the process and 
                            giving myself time to understand difficult concepts, I have renewed confidence in my ability to study and learn new skills. The process                      
                            is so worth it.
                            <strong>●</strong> Helped Bloomington based local Non-Profit Organizations in plan and design web sites for their business along with Graphic layouts.<br>
                            <strong>●</strong> Designed LOGOS/Business-cards for Central Illinois Pediatric Associates, Pediatric Smiles of Bloomington, Codewell Banker Real Estate Group.<br>
                            <strong>●</strong> Designed and developed single page react apps that could scale with both increase in interaction complexity and volume.<br>
                            <strong>●</strong> Provide technical advice and innovative ideas to the Board Mentor – Executive Director, Events Co-Ordinator, Media Manger and Marketing team for Non-Profit Organization.<br>
                            <strong>●</strong> Pilot for one of the startups PP Confectioners on angular framework is in progress.<br>
                            <strong>●</strong> Created real-time web application for e-commerce, marketing and Product development.<br>
                        </p>
                    </li>
                    <li>
                        <h5>Web - Support, Layout Graphic Artist - MCIA</h5>
                        <em>Bloomington, IL, USA</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2019 - 2020 (1 an)</p>
                            <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="alternanceIsShown">
                            <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                            <strong>Mission 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                            <strong>Mission 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                            meilleure lisibilité des priorités pour les équipes de production. <br>
                            <strong>Téchnologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                        </p>
                    </li>
                    <li>
                        <h5>Stagiaire Dévloppeur logiciel</h5>
                        <em>Scotfy, Lyon, Fr</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2018 (3 mois)</p>
                            <button (click)="detailOnClick('stage_detail')" type="button" class="btn btn-primary">+
                                Detail</button>

                        </div>
                        <p *ngIf="stageIsShown">
                            <strong>Multilingue:</strong> Mise en place d’un système de gestion de la langue afin de
                            permettre à l’utilisateur de choisir la langue des interfaces, des messages et des logs.<br>
                            <strong>Clé de licence:</strong> Validation du logiciel à l’aide d’une clé de licence basée
                            sur le nom d’utilisateur Windows.<br>
                            <strong>Technologies:</strong> C#, .NET, Chiffrement AES-256
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Langues</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/france-flag.png" width="20"
                                    alt="drapeau de la france"><strong> Français</strong> <i class="val">
                                    Courant</i></span>
                        </div>

                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/united-kingdom-flag.png" width="20"
                                    alt="drapeau du royaume uni"><strong> Anglais</strong> <i class="val"> Bon
                                    niveau</i></span>
                        </div>

                

                    </div>
                </div>
                <div class="container row">
                    <div class="mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Centre d'intérêt</strong></h4>
                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="volleyBallIcon"></fa-icon><strong> Sport</strong> <i class="val"> 5 ans
                                    Volley Ball</i>
                            </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="planeIcon"></fa-icon><strong> Voyages</strong> <i class="val">
                                    Belgique, Espagne, Pays-Bas, Suisse</i>
                            </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="gameIcon"></fa-icon><strong> Jeux de sociétés </strong> <i class="val">
                                    Jeu de dames et de dominos, Among US, Ludo, ..etc</i>
                            </span>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>