<section id="about">
    <div class="container">
        <h2><strong>In Regards to</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile.jpg" alt="profile picture" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/surya-nagumalla-7a521658" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://gitlab.com/suryapnagumalla" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Web &amp; Mobile Application Developer.</h3>
                <p class="font-italic">
                    Interested in new technologies and working methods. I like to propose ideas that allow improve business processes.
                    <br>Passionate about <b>Back-End</b> and <b>Front-End development.</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Mobile throughout India</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Visakhapatnam, India</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:suryapavani.nagumalla@gmail.com">
                                        suryapavani.nagumalla@gmail.com</a></strong>---------------------------------------------------------------------------
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Master Of Computer Application</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Recherche CDI </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am looking for an innovative and user-centered company to best meet customer needs, 
                    from their idea to the final delivery of their project, or to participate in the improvement of an existing project.
                </p>
            </div>
        </div>
    </div>
</section>