<section id="competences">
    <div class="container">
        <h2><strong>Skills</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row mt-2">
                <div class="col-lg-4" data-aos="fade-up "
                data-aos-anchor-placement="center-bottom" data-aos-delay="300">
                    <h5 class="h5"><strong>Technologies</strong></h5>
                    <div id="skillgraph">
                        <div class='row skill-row' >
                            <div class="label d-flex flex-row" >
                                <span class="skillLabel">PLI, CFL, COBOL, CICS, JCL</span>
                                <span class="skill-percent">80%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>DB2, IMS DB, MySql</span>
                                <span class="skill-percent">70%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='good skillData bg-rust'></span></span>
                        </div>  
                        <div class='row skill-row'>
                   
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>HTML,CSS,XNA</span>
                                <span class=" skill-percent">50%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>PHP, Python, C++</span>
                                <span class=" skill-percent">20%</span>
                            </div>
                           
                            <span class='skillData-Wrapper'>
                            <span class='very-good skillData bg-rust' ></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>JavaScript, BootStrap, Angular</span>
                                <span class="skill-percent">50%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust' ></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Layout Graphic Design</span>
                                <span class="skill-percent">50%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust' ></span></span>
                        </div>
                        
                    </div>

                </div>
                <div class="col-lg-4" data-aos="fade-down"
                data-aos-anchor-placement="center-bottom" data-aos-delay="300">
                    <h5 class="h5"><strong>Tools</strong></h5>
                    <div id="skillgraph" class="panel panel-default">
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Git</span>
                                <span class="skill-percent">60%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust' ></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Microsoft Office, Lotus Notes, IBM Rational</span>
                                <span class="skill-percent">90%</span>
                            </div>
                          
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust'></span></span>
                        </div>
                        
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>TSO/ISPF, XPEDITER,File Aid, SCWB, SCLM </span>
                                <span class="skill-percent">80%</span>
                            </div>
                     
                            <span class='skillData-Wrapper'>
                            <span class='very-good skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>RMS, Pan Valet, RPM</span>
                                <span class="skill-percent">70%</span>
                            </div>
                            
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Docker, Kubernetes</span>
                                <span class="skill-percent">50%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='average skillData bg-rust' ></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom" data-aos-delay="300">
                    <h5 class="h5"><strong>Methods</strong></h5>
                    <div id="skillgraph" class="panel panel-default">
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Agile, Waterfall</span>
                                <span class=" skill-percent">80%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='good skillData bg-rust'></span></span>
                        </div>
                        
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Data Modeling, Object Oriented Analysis</span>
                                <span class="skill-percent">50%</span>
                            </div>
                  
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust' data-percent='90'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Design Thinking</span>
                                <span class="skill-percent">70%</span>
                            </div>
                          
                            <span class='skillData-Wrapper'>
                            <span class='good skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>Lean SIX Sigma</span>
                                <span class="skill-percent">70%</span>
                            </div>
                     
                            <span class='skillData-Wrapper'>
                            <span class='excellent skillData bg-rust'></span></span>
                        </div>
                        <div class='row skill-row'>
                            <div class="label d-flex flex-row" >
                                <span class='skillLabel'>DevOps,</span>
                                <span class="skill-percent">50%</span>
                            </div>
                            <span class='skillData-Wrapper'>
                            <span class='average skillData bg-rust'></span></span>
                        </div>
                    </div>
                </div>
              
        </div>
    </div>

</section>